<app-alert></app-alert>

<div class="container my-5">
    <h2 class="text-center mb-4 fw-bold">Lista de Produtos</h2>
    <div class="d-flex justify-content-between mb-3">
        <h2 class="fw-bold">Lista de Produtos</h2>
        <a routerLink="/create-product" class="btn btn-success">➕ Cadastrar Produto</a>
    </div>

    <div *ngIf="isLoading" class="text-center">
        <p>🔄 Carregando produtos...</p>
    </div>

    <div class="mb-4">
        <input type="text" class="form-control" placeholder="Buscar por nome ou descrição..." [(ngModel)]="searchTerm"
            (input)="filterProducts()">
    </div>

    <div class="row g-4" *ngIf="!isLoading">
        <div *ngFor="let product of displayedProducts" class="col-md-4 d-flex">
            <div class="card h-100 shadow-sm border-0 w-100">
                <img [src]="product.image && product.image.startsWith('http') ? product.image : 'assets/no-image.png'"
                    class="card-img-top" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-truncate">{{ product.name }}</h5>
                    <p class="card-text text-muted">{{ product.description }}</p>
                    <p class="fw-bold fs-5">{{ product.price | currency }}</p>
                    <div class="mt-auto">
                        <button class="btn btn-primary w-100" (click)="goToProductDetails(product.id)">
                            Ver detalhes
                        </button>
                        <button class="btn btn-success w-100 mt-2" (click)="addToCart(product)">
                            Adicionar ao carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>